In [2]:
import pandas as pd

In [4]:
datos = pd.read_excel('uploads/datos_deptos.xlsx')

In [11]:
columna = datos['Salud'].astype('category')

In [24]:
for cat in columna.cat.categories:
    print(type(cat))

<class 'int'>
<class 'int'>

In [30]:
salud = 'Salud'
datos[[salud]].astype('category')

   Salud
0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     0